.App {
  text-align: center;
}

.mine {
  background-color: gray;
}

.lowa {
  overflow: hidden;
  animation: 5ms;
}

.mine:hover {
  background-color: purple;
  transform: scale(1.5);
  animation: 4ms;
  pointer-events: fill;
  cursor: pointer;
  box-shadow: 0ch;
  opacity: unset;
}

.personal {
  cursor: pointer;
  overflow: hidden;
}

.personal .card-header, .card-footer {
  font-weight: bold;
  text-transform: uppercase;
}

.personal:hover {
  transform: scale(.2);
}

.personal:hover .card-header>.kichwa{
  transition: all 1.5s ease-in-out;  
  transform: scale(1.5);
}